<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Movie Land</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body class='bodyIndex'>
		
  			

		
			
			<nav class="topMenu">
				
				<a href="/"><img class="logoMenu" src="images/Movie_Land_logo.png" alt="Logo Movie Land"> </a>
				<div class="linkMenu">
					<ul class=" menuFirstLine">
					<li><a href="/attractions">Nos Attractions</a></li>
					<li><a href="/seloger">Trouver où se loger</a></li>
					<li><a href="/contact">Nous Contacter</a></li>
					<li><a href="/emploi">Offres d'emploi</a></li>
					<li><a href="/engagements">Nos Engagements</a></li>
				</ul>
				
				<ul class="menuSecLine">
					<li><a href="/formules">Nos formules</a></li>
					<li><a href="/noustrouver">Où nous Trouver</a></li>
					<li><a href="/partenaires">Nos partenaires</a></li>
					<li><a href="/vie">Vie du Parc</a></li>
					<li><a href="/recompenses">Nos Récompenses</a></li>
				</ul>
				</div>
				<div class="rightLink">
					<a href="/compte">Mon Compte <img class= "logoCompte" src="images/kill_park.png" alt="Mon Compte Movie Land " ></a>
					<a id="disconnect" href="/deco"> Déconnection</a>
				</div>
			</nav>

			<h1 id="titleAcc"> soyez acteur de votre propre film chez movieland, le parc d'attractions qui vous plongera dans vos films préférés !</h1>
			
			<div id="centerMenu">
				 <div class="divMenu"> <a href="/attractions">
					nos attractions :
					<img class="imgMenu" src="images/sunsAttrac.jpg" alt="Attractions Movie Land">
				</div> </a>
				<div class="divMenu"><a href="/formules">
					nos formules :
					<img class="imgMenu" src="images/dadForm.jpg" alt="Formules Movie Land">
				</div></a>
				<div class="divMenu"><a href="/vie">
					vie du parc :
					<img class="imgMenu" src="images/parklife.jpg" alt="Vie du parc Movie Land">
				</div></a>

			</div>
			<p id="pUserCo"></p>
		
		
		<script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io();
		let body = document.querySelector("body");
		let p = document.querySelector("#pUserCo");
		let btnDisconnect = document.querySelector("#disconnect");


		btnDisconnect.addEventListener("click", () => {
            socket.emit("disconnection", userId);
            window.location = "/";
        });

		
		

		

		


	
	
	</script>
	</body>
</html>