@font-face {
    font-family: "jedi";
    src: url("font/star_jedi/starjedi/Starjedi.ttf") format("truetype");
}



.topMenu{
    display: flex;
    background-color: black;
    justify-content: space-between;
    font-family: "jedi";
    text-transform: lowercase;
    /* margin : 0 0 150 0; */
}

.bodyIndex {
    /* background-image: url("images/background.jpg"); */
    /* background-size: 100%; */
    color: yellow;
    font-family: 'jedi';
    background-color: rgb(19, 19, 19);
}


body{
    background-color: rgb(19, 19, 19);
    color: yellow;
    font-family: 'jedi';
}

#titleAcc{
    margin: 5% auto;
}

h1{
    text-align: center;
}

#centerMenu{
    display: flex;
    flex-direction: row; 
    width : 100%;
    background-color: black;
    /* box-shadow: 0.5vh 5vw black; */
    justify-content: space-between;
}
 .imgMenu{
     width: 33vw;
 }



.menu{
    display : flex;
    flex-direction: row;
}

.menuFirstLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.menuSecLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.linkMenu{
    display: flex;
    flex-direction: column;
    width : 50%;
}

.logoCompte{
    width: 4vw;
}

.logoMenu {
    width : 10vw;
}

a{
    color: yellow;
}

.formConnect {
    position : relative;
	border : 3px solid;
	border-color: yellow;
	width : 20%;
	margin : 2% auto;
	background-color: black;
    text-align: center;
    justify-content: space-around;
}

.connection{
    
    text-align: center;
    /* justify-content: center; */
}

.divCo{
    display: flex;
    justify-content: center;
}

.ptvx{
    width : 33%;
    height : 33%;
}

.registration{
    text-align: center;
}

.formInscript {
    display: flex;
    flex-direction: column;
    position : relative;
	border : 3px solid;
	border-color: yellow;
	width : 33%;
	margin : 2% auto;
	background-color: black;
    text-align: center;
    justify-content: space-around;
    
}


#pUserCo {
    text-align: center;
    font-size: 30px;
}

.rightLink {
    display : flex;
    flex-direction: column;
}
