@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    color: darkblue;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}
/* Style navbar */

.topMenu{
    display: grid;
    grid-template-columns: 10% 90%;
    background-color: #fff;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(121, 168, 216, 0.22) 0px 0px 16px;
    border-radius: 15px;
    overflow: hidden;
}

.linkMenu{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    list-style-type: none;
}

.linkMenu li {
    margin: auto;
}

.logoCompte{
    width: 20%;
    vertical-align: middle;
    margin-left: 10px;
}

/* Style links */

body a {
    text-decoration: none;
    font-weight: bold;
}

body a:hover {
    color: lightskyblue;
}

/* style tittle indexw */

#titleAcc{
    margin: 5vw auto;
}

h1{
    text-align: center;
}

/* Style menu axial index */

#centerMenu{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #fff;
    /* box-shadow: 0.5vh 5vw blanc; */
    justify-content: space-between;
    
    box-shadow: rgba(121, 168, 216, 0.22) 0px 0px 16px;
    border-radius: 15px;
    overflow: hidden;
}

#centerMenu div {
    text-align: center;
}

#centerMenu img {
    width: 90%;
    border-radius: 15px;
}

a{
    color: darkblue;
}

/* Style formulaire de connection */

.titlePages {
    margin-top: 75px;
    margin-bottom: 75px;
}

.formConnect {
	border : 3px solid;
    padding: 10px;
	border-color: darkblue;
    border-radius: 15px;
	width : 20%;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(5,1fr);
}

#divbtn {
    margin-top: 10%;
}

.btn {
    background-color: darkblue;
    border-color: darkblue;
    color: #fff;
    border: 5px;
    border-radius: 15px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    height: 40px;
}

.btn:hover {
    background-color: lightskyblue;
    color: darkblue;
    border : 5px darkblue;
    cursor: pointer;
}

#signUp {
    margin-top: 50px;
}

.connection{
    
    text-align: center;
    /* justify-content: center; */
}

.formConnect #adminCaseCo {
    margin: auto;
    padding-top: 25px;
    margin-bottom: 25px;
}

form > div  {
    display: grid;
}


.formConnect label,
.formInscript label {
    padding-top: 45px;
}

.formConnect #divbtn {
    margin-top: 30%;
}

/* Style INscription */

.registration{
    text-align: center;
}

.formInscript {
    display: grid;
    grid-template-rows: repeat(9,1fr);
	border : 3px solid;
    padding: 10px;
	border-color: darkblue;
    border-radius: 15px;
	width : 20%;
	margin : auto;    
}

#adminCaseInsc {
    margin: auto;
    margin-bottom: 15px;
    
}

/* Carroussel*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 75vw;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fff;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a blanc background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #fff;
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/* Style vie du parc */

#parklife_file{
    border: 3px solid darkblue;
    border-radius: 15px;
    text-align: center;
    width: fit-content;
    padding: 10px;
    margin: auto;
    margin-top: 25px;
}

#form-file div {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
}
 
#div-file-btn {
    grid-template-columns: none !important;
    margin-top: 15px !important;
}

#sendFileBtn {
    margin: auto;
}







/* mediaqueries */

@media screen and (max-width: 1600px) {
    .topMenu{
        font-size: 0.85em;
    }
    .rightLink{
        width : 10vw;
    }
}