@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



.topMenu{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    background-color: #fff;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgb(241, 241, 241) 0px 0px 0px 16px;
    border-radius: 15px;
    overflow: hidden;
}

.topMenu > div:first-of-type {
    width: 15%;
}

.bodyIndex {
    color: darkblue;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}


body{
    background-color: #fff;
    color: darkblue;
    font-family: 'Poppins', sans-serif;
}

body a {
    text-decoration: none;
    font-weight: bold;
}

body a:hover {
    color: lightskyblue;
}



#titleAcc{
    margin: 5vw auto;
}

h1{
    text-align: center;
}

#centerMenu{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #fff;
    /* box-shadow: 0.5vh 5vw blanc; */
    justify-content: space-between;
    
    box-shadow: rgb(241, 241, 241) 0px 0px 0px 16px;
    border-radius: 15px;
    overflow: hidden;
}

#centerMenu div {
    text-align: center;
}

#centerMenu img {
    width: 90%;
    border-radius: 15px;
}


.menu{
    display : flex;
    flex-direction: row;
}

.linkMenu{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    list-style-type: none;
}

.logoCompte{
    width: 2vw;
}

.logoMenu {
    width : 10vw;
}

a{
    color: darkblue;
}

.formConnect {
    
    position : relative;
	border : 3px solid;
	border-color: darkblue;
	width : 20vw;
	margin : 2vw auto;
	background-color: #fff;
    text-align: center;
    justify-content: space-around;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.connection{
    
    text-align: center;
    /* justify-content: center; */
}

.divCo{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.ptvx{
    width : 33vw;
}

.registration{
    text-align: center;
}

.formInscript {
    display: flex;
    flex-direction: column;
    position : relative;
	border : 3px solid;
	border-color: darkblue;
	width : 20vw;
	margin : 2vw auto;
	background-color: #fff;
    text-align: center;
    justify-content: space-around;
    
}


/* #pUserCo {
    text-align: center;
    font-size: 30px;
} */

.rightLink {
    display : flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    margin: 2vw auto;
}

/* Carroussel*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 75vw;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fff;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a blanc background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #fff;
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/* mediaqueries */

@media screen and (max-width: 1600px) {
    .topMenu{
        font-size: 0.85em;
    }
    .rightLink{
        width : 10vw;
    }
}