<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Movie Land</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		
			
			<nav class="topMenu">
				
				<a href="/"><img class="logoMenu" src="images/Movie_Land_logo.png" alt="Logo Movie Land"> </a>
				<div class="linkMenu">
					<ul class=" menuFirstLine">
					<li><a href="/attractions">Nos Attractions</a></li>
					<li><a href="/seloger">Trouver où se loger</a></li>
					<li><a href="/contact">Nous Contacter</a></li>
					<li><a href="/emploi">Offres d'emploi</a></li>
					<li><a href="/engagements">Nos Engagements</a></li>
				</ul>
				
				<ul class="menuSecLine">
					<li><a href="/formules">Nos formules</a></li>
					<li><a href="/noustrouver">Où nous Trouver</a></li>
					<li><a href="/partenaires">Nos partenaires</a></li>
					<li><a href="/vie">Vie du Parc</a></li>
					<li><a href="/recompenses">Nos Récompenses</a></li>
				</ul>
				</div>
				<div class="rightLink">
				<a href="/compte">Mon Compte <img class= "logoCompte" src="images/kill_park.png" alt="Mon Compte Movie Land " ></a>
				<a id="disconnect" href="/deco"> Déconnection</a>
			</div>
			</nav>
			<h1>Nos attractions</h1>
			<div id="divCarrou">
				<section class="carousel" aria-label="Gallery">
					<ol class="carousel__viewport">
					<li id="carousel__slide1"
						tabindex="0"
						class="carousel__slide">
						<div class="carousel__snapper">
						<a href="#carousel__slide5"
							class="carousel__prev">Go to last slide</a>
						<a href="#carousel__slide2"
							class="carousel__next">Go to next slide</a>
						</div>
					</li>
					<li id="carousel__slide2"
						tabindex="0"
						class="carousel__slide">
						<div class="carousel__snapper"></div>
						<a href="#carousel__slide1"
						class="carousel__prev">Go to previous slide</a>
						<a href="#carousel__slide3"
						class="carousel__next">Go to next slide</a>
					</li>
					<li id="carousel__slide3"
						tabindex="0"
						class="carousel__slide">
						<div class="carousel__snapper"></div>
						<a href="#carousel__slide2"
						class="carousel__prev">Go to previous slide</a>
						<a href="#carousel__slide4"
						class="carousel__next">Go to next slide</a>
					</li>
					<li id="carousel__slide4"
						tabindex="0"
						class="carousel__slide">
						<div class="carousel__snapper"></div>
						<a href="#carousel__slide3"
						class="carousel__prev">Go to previous slide</a>
						<a href="#carousel__slide5"
						class="carousel__next">Go to next slide</a>
					</li>
					<li id="carousel__slide5"
						tabindex="0"
						class="carousel__slide">
						<div class="carousel__snapper"></div>
						<a href="#carousel__slide3"
						class="carousel__prev">Go to previous slide</a>
						<a href="#carousel__slide1"
						class="carousel__next">Go to first slide</a>
					</li>
					</ol>
					<aside class="carousel__navigation">
					<ol class="carousel__navigation-list">
						<li class="carousel__navigation-item">
						<a href="#carousel__slide1"
							class="carousel__navigation-button">Go to slide 1</a>
						</li>
						<li class="carousel__navigation-item">
						<a href="#carousel__slide2"
							class="carousel__navigation-button">Go to slide 2</a>
						</li>
						<li class="carousel__navigation-item">
						<a href="#carousel__slide3"
							class="carousel__navigation-button">Go to slide 3</a>
						</li>
						<li class="carousel__navigation-item">
						<a href="#carousel__slide4"
							class="carousel__navigation-button">Go to slide 4</a>
						</li>
						<li class="carousel__navigation-item">
							<a href="#carousel__slide5"
								class="carousel__navigation-button">Go to slide 5</a>
						</li>
					</ol>
					</aside>
				</section>
			</div>
		<script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io();
		let btnDisconnect = document.querySelector("#disconnect");


btnDisconnect.addEventListener("click", () => {
	socket.emit("disconnection", userId);
	window.location = "/";
});


	
	</script>
	</body>
</html>