<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Movie Land</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		
			
		<nav class="topMenu">
			<div>
				<a href="/"><img class="logoMenu" src="images/Movie_Land_logo.png" alt="Logo Movie Land"> </a>
			</div>
			<ul class="linkMenu">
				<li><a href="/attractions">Nos Attractions</a></li>
				<li><a href="/seloger">Trouver où se loger</a></li>
				<li><a href="/contact">Nous Contacter</a></li>
				<li><a href="/emploi">Offres d'emploi</a></li>
				<li><a href="/engagements">Nos Engagements</a></li>
				<li>
					<div>
						<a href="/compte">
							<p>
								Mon Compte
								<img class= "logoCompte" src="images/user.png" alt="Mon Compte Movie Land " >
							</p>
						</a>
					</div>
				</li>
					
				<li><a href="/formules">Nos formules</a></li>
				<li><a href="/noustrouver">Où nous Trouver</a></li>
				<li><a href="/partenaires">Nos partenaires</a></li>
				<li><a href="/vie">Vie du Parc</a></li>
				<li><a href="/recompenses">Nos Récompenses</a></li>
				<li>
					<div>
						<a id="disconnect" href="/deco">
							<p>
								Déconnection
								<img class= "logoCompte" src="images/disco.png" alt="Déconnection Movie Land" >
							</p>
						</a>
					</div>
				</li>
			</ul>
			
			</div>
		</nav>

			<h1>Connection</h1>
			<div class="divCo">
				<img class="ptvx" src='images/porte_voix_1.png' alt='img connexion'>
				
				<div class="connection">
					<form class='formConnect'action="/connect" method="POST">
						
						<label>Entrez votre adresse mail:</label>
						<input type="email" id="mailCo" name="mail" placeholder="Entrez votre adresse mail" required/>
						
						<label>Entrez votre mot de passe: </label>
						<input type="text" id="passwordCo" name="password" placeholder="Entrez votre mot de passe" required/>

						<label>Cochez si vous vous connectez en tant qu'admin: </label>
						<input type="checkbox" id="adminCaseCo" name="adminCase" placeholder="Cochez si vous vous connectez en tant qu'admin" />

						<div id="divbtn">
							<input type="submit" id="signIn" value="Se connecter">
						</div>
					</form>
					<a href ="/inscription"> <button id="signUp">S'inscrire</button></a>

				</div>
				<img class="ptvx" src='images/porte_voix_2.png' alt='img connexion'>
			</div>
		

		<script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io();
		let form = document.querySelector('form');
		let inp = document.createElement('input');
		let body = document.querySelector("body");
		let adminInsc = document.querySelector("#adminCaseCo");
		let divbtn = document.querySelector("#divbtn");
		let btnDisconnect = document.querySelector("#disconnect");


		btnDisconnect.addEventListener("click", () => {
            socket.emit("disconnection", );
            window.location = "/";
        });


		adminInsc.addEventListener('change', evt => {
			if (adminInsc.checked == true){
				form.insertBefore(inp, divbtn);
				inp.setAttribute("type", "text");
				inp.setAttribute("id", "passAdmin");
				inp.setAttribute("placeholder", "Entrez le mot de passe Admin ");
				inp.setAttribute("name", "adminPassword");
			}else{
				let passAdmin = document.querySelector("#passAdmin");
				passAdmin.remove();
			}
		});

		
	</script>
	</body>
</html>