<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Movie Land</title>
		<!-- <link rel="stylesheet" href="style.css"> -->
		<link rel="stylesheet" href="/style.css" type="text/css">
	</head>
	<body>
		
		
			
		<nav class="topMenu">
			<div>
				<a href="/"><img class="logoMenu" src="images/Movie_Land_logo.png" alt="Logo Movie Land"> </a>
			</div>
			<ul class="linkMenu">
				<li><a href="/attractions">Nos Attractions</a></li>
				<li><a href="/seloger">Trouver où se loger</a></li>
				<li><a href="/contact">Nous Contacter</a></li>
				<li><a href="/emploi">Offres d'emploi</a></li>
				<li><a href="/engagements">Nos Engagements</a></li>
				<li>
					<div>
						<a href="/compte">
							<p>
								Mon Compte
								<img class= "logoCompte" src="images/user.png" alt="Mon Compte Movie Land " >
							</p>
						</a>
					</div>
				</li>
					
				<li><a href="/formules">Nos formules</a></li>
				<li><a href="/noustrouver">Où nous Trouver</a></li>
				<li><a href="/partenaires">Nos partenaires</a></li>
				<li><a href="/vie">Vie du Parc</a></li>
				<li><a href="/recompenses">Nos Récompenses</a></li>
				<li>
					<div>
						<a id="disconnect" href="/deco">
							<p>
								Déconnection
								<img class= "logoCompte" src="images/disco.png" alt="Déconnection Movie Land" >
							</p>
						</a>
					</div>
				</li>
			</ul>
			
			</div>
		</nav>

		<div class="navMobile">
			<p class="btn btnMenu">Menu</p>

			<ul id="linkMenuMobile" class="">
				<li><a href="/attractions">Nos Attractions</a></li>
				<li><a href="/seloger">Trouver où se loger</a></li>
				<li><a href="/contact">Nous Contacter</a></li>
				<li><a href="/emploi">Offres d'emploi</a></li>
				<li><a href="/engagements">Nos Engagements</a></li>
					
				<li><a href="/formules">Nos formules</a></li>
				<li><a href="/noustrouver">Où nous Trouver</a></li>
				<li><a href="/partenaires">Nos partenaires</a></li>
				<li><a href="/vie">Vie du Parc</a></li>
				<li><a href="/recompenses">Nos Récompenses</a></li>
				
				<li>
					<div>
						<a href="/compte">
							<p>
								Mon Compte
								<img class= "logoCompte" src="images/user.png" alt="Mon Compte Movie Land " >
							</p>
						</a>
					</div>
				</li>
				<li>
					<div>
						<a id="disconnect" href="/deco">
							<p>
								Déconnection
								<img class= "logoCompte" src="images/disco.png" alt="Déconnection Movie Land" >
							</p>
						</a>
					</div>
				</li>
			</ul>


		</div>


            <h1>error</h1>
            <p><%= error %></p>
            <a href="<%= returnPath %>"><%= returnMsg %></a>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            let socket = io();
			let btnDisconnect = document.querySelector("#disconnect");

			let btnMenu = document.querySelector(".btnMenu");
		let linkMenuMobile = document.querySelector('#linkMenuMobile');

		btnMenu.addEventListener('click', () => {
			if ( linkMenuMobile.classList != 'active') {
				console.log('add class');
				linkMenuMobile.classList.add('active');
			} else if (linkMenuMobile.classList == 'active'){
				console.log('remove class');
				linkMenuMobile.classList.remove('active');
			}
		});


			btnDisconnect.addEventListener("click", async () => {
			console.log('removing');
            const removingUser = await browser.cookies.remove({name: "usertkn"});
            const removingAdmin = await browser.cookies.remove({name: "admintkn"});
			console.log(removingUser);
			console.log(removingAdmin);
            window.location = "/";
        });
		
            
        
        </script>
	</body>
</html>