<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Movie Land</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>


	<nav class="topMenu">
		<div>
			<a href="/"><img class="logoMenu" src="images/Movie_Land_logo.png" alt="Logo Movie Land"> </a>
		</div>
		<ul class="linkMenu">
			<li><a href="/attractions">Nos Attractions</a></li>
			<li><a href="/seloger">Trouver où se loger</a></li>
			<li><a href="/contact">Nous Contacter</a></li>
			<li><a href="/emploi">Offres d'emploi</a></li>
			<li><a href="/engagements">Nos Engagements</a></li>
			<li>
				<div>
					<a href="/compte">
						<p>
							Mon Compte
							<img class="logoCompte" src="images/user.png" alt="Mon Compte Movie Land ">
						</p>
					</a>
				</div>
			</li>

			<li><a href="/formules">Nos formules</a></li>
			<li><a href="/noustrouver">Où nous Trouver</a></li>
			<li><a href="/partenaires">Nos partenaires</a></li>
			<li><a href="/vie">Vie du Parc</a></li>
			<li><a href="/recompenses">Nos Récompenses</a></li>
			<li>
				<div>
					<a id="disconnect" href="/deco">
						<p>
							Déconnection
							<img class="logoCompte" src="images/disco.png" alt="Déconnection Movie Land">
						</p>
					</a>
				</div>
			</li>
		</ul>

		</div>
	</nav>

	<div class="navMobile">
		<p class="btn btnMenu">Menu</p>

		<ul id="linkMenuMobile" class="">
			<li><a href="/attractions">Nos Attractions</a></li>
			<li><a href="/seloger">Trouver où se loger</a></li>
			<li><a href="/contact">Nous Contacter</a></li>
			<li><a href="/emploi">Offres d'emploi</a></li>
			<li><a href="/engagements">Nos Engagements</a></li>
				
			<li><a href="/formules">Nos formules</a></li>
			<li><a href="/noustrouver">Où nous Trouver</a></li>
			<li><a href="/partenaires">Nos partenaires</a></li>
			<li><a href="/vie">Vie du Parc</a></li>
			<li><a href="/recompenses">Nos Récompenses</a></li>
			
			<li>
				<div>
					<a href="/compte">
						<p>
							Mon Compte
							<img class= "logoCompte" src="images/user.png" alt="Mon Compte Movie Land " >
						</p>
					</a>
				</div>
			</li>
			<li>
				<div>
					<a id="disconnect" href="/deco">
						<p>
							Déconnection
							<img class= "logoCompte" src="images/disco.png" alt="Déconnection Movie Land" >
						</p>
					</a>
				</div>
			</li>
		</ul>


	</div>

	<h1>Vie du Parc</h1>



	<div id="divCarrou">

		<!-- Slideshow container -->
		<div class="slideshow-container">

			<!-- Full-width images with number and caption text -->
			<div class="mySlides fade">
				<img src="./images/vie_parc1.jpg" style="width:100%">
			</div>

			<div class="mySlides fade">
				<img src="./images/vie_parc2.jpg" style="width:100%">
			</div>

			<div class="mySlides fade">
				<img src="./images/vie_parc3.jpg" style="width:100%">
			</div>


			<!-- Next and previous buttons -->
			<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
			<a class="next" onclick="plusSlides(1)">&#10095;</a>
		</div>
		<br>

		<!-- The dots/circles -->
		<div style="text-align:center">
			<span class="dot" onclick="currentSlide(1)"></span>
			<span class="dot" onclick="currentSlide(2)"></span>
			<span class="dot" onclick="currentSlide(3)"></span>
		</div>



	</div>
	<div id="parklife_file">
		<p>Vous souhaitez nous partager vos photos ?</p>
		<p>Aucun problème, envoyez nous vos photos et nous les ajouterons à notre banque d'images</p>

		<form id="form-file" action="/store-image" method="POST" enctype="multipart/form-data">
			<!-- <div>
						<label>Nom de votre photo:</label>
						<input type="text" name="fileTitle" required>
					</div> -->
			<div>
				<label>Sélectionnez votre photo:</label>
				<input type="file" id="file-upload" name="image" required multiple>
			</div>
			<div id="div-file-btn">
				<input type="submit" class="btn" id="sendFileBtn" value="Envoyer" style="width : 50%">
			</div>
		</form>
	</div>


		<div id="parc-admin-section" class="">
			<h3>Fichiers envoyés par les utilisateurs</h3>

			<div id="admin-container">
				
				<%  for (let i = 0; i<arrayFiles.length ; i++) {%>
					<!-- <% const fileString = arrayFiles[i].endsWith('/') ? arrayFiles[i].slice(0, -1) : arrayFiles[i]; %> -->
					<img src=  <%= arrayFiles[i] %>>
				<%}%>
			</div>
		
		</div>
	


	<script src="/socket.io/socket.io.js"></script>
	<script>

		let adminSection = document.querySelector('#parc-admin-section');
		const admintkn = getCookie("admintkn");
		const adminContainer = document.querySelector('#admin-container');
		let img = document.createElement('img');

		let btnMenu = document.querySelector(".btnMenu");
		let linkMenuMobile = document.querySelector('#linkMenuMobile');

		btnMenu.addEventListener('click', () => {
			if ( linkMenuMobile.classList != 'active') {
				console.log('add class');
				linkMenuMobile.classList.add('active');
			} else if (linkMenuMobile.classList == 'active'){
				console.log('remove class');
				linkMenuMobile.classList.remove('active');
			}
		});

		
		

		let socket = io();
		let btnDisconnect = document.querySelector("#disconnect");

		var slideIndex = 1;
		showSlides(slideIndex);

		btnDisconnect.addEventListener("click", async () => {
			console.log('removing');
			const removingUser = await browser.cookies.remove({ name: "usertkn" });
			const removingAdmin = await browser.cookies.remove({ name: "admintkn" });
			console.log(removingUser);
			console.log(removingAdmin);
			// window.location = "/";
		});



		// Next/previous controls
		function plusSlides(n) {
			showSlides(slideIndex += n);
		}

		// Thumbnail image controls
		function currentSlide(n) {
			showSlides(slideIndex = n);
		}

		function showSlides(n) {
			var i;
			var slides = document.getElementsByClassName("mySlides");
			var dots = document.getElementsByClassName("dot");
			if (n > slides.length) { slideIndex = 1 }
			if (n < 1) { slideIndex = slides.length }
			for (i = 0; i < slides.length; i++) {
				slides[i].style.display = "none";
			}
			for (i = 0; i < dots.length; i++) {
				dots[i].className = dots[i].className.replace(" active", "");
			}
			slides[slideIndex - 1].style.display = "block";
			dots[slideIndex - 1].className += " active";
		}


		// Vérif admin token & Affichage admin section

		function getCookie(cname) {
			let name = cname + "=";
			let decodedCookie = decodeURIComponent(document.cookie);
			let ca = decodedCookie.split(';');
			for (let i = 0; i < ca.length; i++) {
				let c = ca[i];
				while (c.charAt(0) == ' ') {
					c = c.substring(1);
				}
				if (c.indexOf(name) == 0) {
					adminSection.classList.add('active');
					return c.substring(name.length, c.length);
				} else {
					adminSection.classList.remove('active');
				}
			}

			return "";
		}


	</script>
</body>

</html>